.navBtns Button{
  margin: 5px;
}
.redPoint{
  color: red;
}
.href{
  color: #1890ff;
  cursor: pointer;
}
.href:hover{
  color: #dc1400;
}
.contentBu{
  margin: 10px 0;
}
ul li{
  overflow: hidden;
}
